div.stacklist{
    margin-bottom: 100px;
    font-size: larger;
}
div.stack-entry{
    margin-top: 10px;
}
span.icon-desc{
    margin-left: 10px;
}
div.icon{
    font-size: 56px;
    display: inline;
}
.title{
    font-size: xx-large;
}